# <span style="color:blue">EVCO Practical 2: GAs for classification</span>

Simon O'Keefe: simon.okeefe@york.ac.uk

Danny Roberts: danny.roberts@york.ac.uk

Tianda Sun: tianda.sun@york.ac.uk

## <span style="color:#0073e6">Prerequisites</span>

Before participating in this practical make sure that you have watched the following:
- Code walkthrough 2
- Code walkthrough 3

## <span style="color:#0073e6">Topics</span>

- Exploring data
- Cleaning data
- Balancing data
- Evolving a solution to classify on data

## <span style="color:#0073e6">Learning Objectives</span>

- To understand the basics of how to explore, clean, and balance data  
- To understand the challenges of training on data and making predictions  
- To understand the need to define your own representation for the problem with a GA

# <span style="color:blue">Your Task</span>

Implement a genetic algorithm to classify different types of iris flowers. The classic dataset contains measurements of iris flowers, along with what type of flower they are. The idea is to classify whether the flower is a Versicolor (0), Setosa (1), or Virginica (2). Classify the flowers from the features in the data. 

<img src="iris.png" alt="Iris flower">  

The approach is similar to that in walkthrough 3, but you should try to do this yourself, giving thought to what decisions are being made as you go through. You can reach to the notebook for walkthrough 3 when you need it.

**To keep things simple, you can remove one of the flowers and use a binary regression.**

However, if you would like to attempt a Softmax regression, after doing this, here is a good link to find out more:

http://rasbt.github.io/mlxtend/user_guide/classifier/SoftmaxRegression/

Tips:
- Examine the data properly before implementing your algorithm.
- Use summary statistics and plots.
- Check for missing data and class imbalance.
- Explore different operators etc
- If you finish, you can find a dataset on Kaggle and have a go at a time-series regression problem (e.g. https://www.kaggle.com/bulentsiyah/for-simple-exercises-time-series-forecasting).

## <span style="color:#0073e6">Reading the dataset</span>

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()

# Convert it into a Pandas dataframe
iris_data = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

## <span style="color:#0073e6">Exploring the dataset</span>

In [3]:
iris_data.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [7]:
iris_data.groupby('target').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0.0,5.006,3.428,1.462,0.246
1.0,5.936,2.770,4.260,1.326
2.0,6.588,2.974,5.552,2.026

# <span style="color:blue">Add your GA code below</span>